<div class="d-flex flex-column align-items-center min-vh-100 bg-light">
  <h1 class="display-4 fw-bold mb-4 text-dark">Choose a Day</h1>
  <div>
    <select
      [(ngModel)]="selectedDay"
      (change)="onDayChange($event)"
      class="form-select mt-3"
    >
      <option value="" disabled selected>Mau hari keberapa?</option>
      <option value="/">Home</option>
      <ng-container *ngFor="let day of days">
        <option [value]="day">Day {{ day }}</option>
      </ng-container>
    </select>
  </div>


  <div *ngIf="selectedDay !== null" class="container mt-4 p-4 bg-white rounded shadow-sm">
    <router-outlet></router-outlet>
  </div>
</div>
